html {
  font-size: 20px;
}
body {
  font-family: "Microsoft Yahei";
  font-size: 20px;
  padding-top: 90px;
}
#cnzz_stat_icon_1258406185 {
  display: none;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
}
.navbar-default {
  height: 90px;
  background-color: white;
}
.navbar-default a.navbar-brand {
  height: 90px;
  line-height: 90px;
  margin: 0;
  padding: 0;
  color: #6173F4;
}
.navbar-default a.navbar-brand img {
  display: inline-block;
  margin: 0 1em;
}
.navbar-default a.navbar-brand:hover,
.navbar-default a.navbar-brand:focus {
  color: #6173F4;
}
.navbar-default .navbar-nav li a {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.8em;
  background-image: url(../images/img_nav_selected_line.png);
  background-position: center 70%;
  background-size: 0px 3px;
  background-repeat: no-repeat;
  line-height: 90px;
  padding: 0 15px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus {
  color: #6173F4;
  background-size: 18px 3px;
}
.top-container {
  height: 800px;
  background-image: url(../images/img_home_top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home-img-solution {
  margin: 100px auto 200px auto;
}
.solution {
  margin-bottom: 180px;
}
.solution h1 {
  font-size: 40px;
}
.solution p {
  opacity: 0.5;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: 10px;
}
.case {
  background-color: #6173F4;
  box-shadow: 0px 20px 30px 0px rgba(97, 114, 243, 0.1);
  padding-top: 5em;
  padding-bottom: 4em;
  z-index: 999;
  position: relative;
}
.case .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.case .frame {
  width: 100%;
  height: 270px;
  padding: 0;
  margin-top: 3.5em;
}
.case .frame .slidee {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}
.case .frame .slidee li {
  float: left;
  margin: 0;
  padding: 0;
  width: 384px;
  height: 100%;
}
.case .frame .slidee li img {
  cursor: pointer;
}
.case #title {
  text-align: center;
  font-size: 1em;
  font-weight: 200;
  color: white;
  letter-spacing: 0;
  margin-top: 1em;
  margin-bottom: 4px;
}
.case #content {
  text-align: center;
  opacity: 0.5;
  font-size: 0.7em;
  font-weight: 200;
  color: white;
  letter-spacing: 0;
  margin-top: 0;
}
.case .control-panel img {
  width: 57px;
  margin-top: 2.5em;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.case .control-panel img:hover,
.case .control-panel img:focus {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.case .control-panel img:first-child {
  margin-right: 1.5em;
}
.case .control-panel img:last-child {
  margin-left: 1.5em;
}
.case #btn-all {
  background: white;
  border-radius: 1.4em;
  font-size: 0.8em;
  color: #6173F4;
  letter-spacing: 0;
  width: 204px;
  height: 42px;
  margin-top: 2.5em;
  border: 1px ;
  position: absolute;
  bottom: -21px;
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.partner {
  background-color: white;
  padding-top: 6em;
  padding-bottom: 5em;
  margin-top: -21px;
}
.partner img.img-title {
  margin-bottom: 2.5em;
}
.partner .row.text-center > div {
  margin-top: 1em;
  display: inline-block;
  float: none;
}
.partner img {
  cursor: pointer;
}
.footer {
  background-color: #FAFAFA;
  padding-top: 4em;
  padding-bottom: 0.7em;
}
.footer p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.7em;
  letter-spacing: 0;
}
.footer p.description {
  line-height: 30px;
  margin-top: 0.8em;
}
.footer a {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.footer a:hover,
.footer a:focus {
  color: #6173F4;
}
.footer h1 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1em;
  letter-spacing: 0;
  line-height: 60px;
  background-image: url(../images/img_title_line.png);
  background-size: 39px 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  margin-bottom: 1em;
}
.footer p.poweredby {
  color: rgba(0, 0, 0, 0.3);
}
.aboutus h2 {
  text-align: center;
  opacity: 0.5;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: 27px;
}
.aboutus .img-about-boostfield {
  margin-top: 99px;
}
.aboutus .img-about-team {
  margin-top: 130px;
}
.aboutus .img-about-office {
  margin-top: 143px;
}
.aboutus .img-about-us {
  margin-top: 76px;
}
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  .navbar-default .navbar-toggle {
    border: none;
  }
  .navbar-collapse.collapse.in,
  .navbar-collapse.collapsing {
    background-color: white;
  }
  .navbar-default {
    height: 50px;
  }
  .navbar-default a.navbar-brand {
    height: 50px;
    line-height: 50px;
  }
  .navbar-default a.navbar-brand img {
    width: 40px;
  }
  .navbar-default .navbar-nav li a {
    line-height: 50px;
    background-image: none;
  }
  .navbar-default .navbar-nav li a:hover,
  .navbar-default .navbar-nav li a:focus {
    background-image: none;
  }
  body {
    padding-top: 50px;
  }
  .top-container {
    height: 41.66666667vw;
  }
  .home-img-solution {
    margin: 40px auto 40px auto;
  }
  .solution {
    margin-bottom: 40px;
  }
  .solution .img-line {
    visibility: hidden;
  }
  .solution h1 {
    font-size: 30px;
    text-align: center;
  }
  .solution p {
    opacity: 0.5;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    line-height: 30px;
    margin-top: 10px;
  }
  .case .frame .slidee li {
    width: 100vw;
  }
  .case .frame .slidee li img {
    object-fit: cover;
  }
  .aboutus h2 {
    text-align: center;
    opacity: 0.5;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    line-height: 30px;
    margin-top: 27px;
  }
  .aboutus .img-about-boostfield {
    margin-top: 40px;
  }
  .aboutus .img-about-team {
    margin-top: 60px;
  }
  .aboutus .img-about-office {
    margin-top: 60px;
  }
  .aboutus .img-about-us {
    margin-top: 30px;
  }
}
